!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Top Tweets!  
    %link{:href => "http://#{@host}/css/styles.css", :rel => "stylesheet"}
  %body
    %img{:src => "http://#{@host}/images/header.png", :alt => "header"}
    %p
   	  We're Sorry! <br /> We've had a problem delivering your tweets,
   	  re - subscribing on the remote could fix this.
	%img{:src => "http://#{@host}/images/footer.png", :alt => "footer"}