body
{
	width:384px;
	margin:0px;
	padding:10px 0px 10px 0px;
}

table 
{
	width: 384px;
}

td
{
	font-family:"Quicksand";
	font-size: 20px;
}

p
{
	font-size: 19px;
}

div 
{
	text-align: justify;
	padding: 0px;
}

.tweet
{
	padding: 5px 0px 5px 5px;
}

.user
{
	padding: 5px 5px 5px 0px;
}

.fourhundred
{
	padding: 10px;
	text-align: left;
	width: 300px;
	margin: 0 auto;
}